{% extends 'base.html' %}
{% load static %}
{% block title %}
Dashboard - GD Capital
{% endblock title %}
{% block body %}
<section class="py-5 dark-bg" style="min-height: 70vh;display:flex;flex-direction:column;justify-content:center;align-items:center
">
    <div class="container">
        <div>
            <a href="/" class="text-dark back-arrow"><i class="bi bi-arrow-left-circle text-white" style="font-size: 1.2rem;"></i></a>
          </div>
        <div class="text-center">
            <h1 style="color:#ece6dc">My Dashboard</h1>
        </div>
        <div style="display:flex;justify-content:end;align-items:center">
            <!-- <a href="/profile"><i style="color:#ece6dc;font-size: 1.2rem;" class="bi bi-person-circle"></i></a> -->
            <div class="ms-3" style="display: flex; flex-direction:column;justify-content:center;align-items:center">
                <a href="/profile"><small style="color:#ece6dc;">My Profile</small></a>
                <a href="/profile"><i style="color:#ece6dc;font-size: 1.2rem;" class="bi bi-person-circle"></i></a>
            </div>
            <div class="ms-3" style="display: flex; flex-direction:column;justify-content:center;align-items:center">
                <a href="/payment"><small style="color:rgb(8, 235, 8);">Add money</small></a>
                <a href="/payment"><i style="color:rgb(8, 235, 8);font-size: 1.2rem;" class="bi bi-cash"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card dashboard-card px-3 mt-4">
                    <div class="card-body">
                        <p class="inv-txt">Invested Amount</p>
                        <div class="text-center" style="display:flex; justify-content:center">
                            <i class="bi bi-currency-rupee"></i>
                            <h2 id="invested-amount" class="inv-amt m-0" style="display:inline">8600.08</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card dashboard-card px-3 mt-4" style="transform:scale(1.01)">
                    <div class="card-body">
                        <p class="inv-txt">Current Amount </p>
                        <div class="text-center" style="display:flex; justify-content:center">
                            <i class="bi bi-currency-rupee"></i>
                            <h2 id="present-amount" class="inv-amt m-0" id="present-amount" style="display:inline">8600.08</h2>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card dashboard-card px-3 mt-4">
                    <div class="card-body">
                        <p class="inv-txt">Profit <i id="up-arrow" class="bi bi-arrow-up" style="color:green;display:none;"></i><i id="down-arrow" class="bi bi-arrow-down" style="color:red;display:none;"></i></p>
                        <div class="text-center" style="display:flex; justify-content:center">
                            <i class="bi bi-percent"></i>
                            <h2 id="percent"  class="inv-amt m-0" style="display:inline">8600.08</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="/withdraw" class="wdrw-card">
                    <div class="wdrw-card card dashboard-card px-3 mt-2" style="transform:scale(1.01);background-color: #434343 !important;box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.2);">
                        <div class="card-body">
                            <div class="text-center" style="display:flex; justify-content:center">
                                <h6 class="m-0" style="color:#ece6dc;">Withdraw</h6>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card shadow my-4" style="border: 0 !important;border-radius:15px">

            <div class="card-body  ">
                <div class="table-responsive">
                    <table class="table table-sm cell-border" id="transTable">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Invested Amount</th>
                                <th scope="col">Current Amount</th>
                                <th scope="col">Timestamp</th>
                                <th scope="col">Plan Type</th>
                                <th scope="col">Last Updated</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            {% if i.made_by == request.user.username and i.status == 'TXN_SUCCESS' %}
                            <tr>
                                <td>{{i.made_by|capfirst}}</td>
                                <td>{{i.amount|floatformat:2}}</td>
                                <td id="table-current-amount">{{i.present_amount|floatformat:2}}</td>
                                <td>{{i.made_on}}</td>
                                <td>{{i.plantype|capfirst}}</td>
                                <td>{{i.last_updated}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            
                            
                        </tbody>
                        
                    </table>
                </div>
                
            </div>
        </div>
        <div class="text-end">
            <a href="/all-transactions"><i class="bi bi-eye"></i> All Transactions</a>
        </div>
    </div>
</section>

<script>
    $(document).ready( function () {
        $('#transTable').DataTable();
        $('#transTable2').DataTable({
            order: [[1, 'asc']],
        });
        var invested_amount = 0;                
        var present_amount = 0;
        $("#transTable tr").not(':first').each(function() {
        invested_amount +=  getnum($(this).find("td:eq(1)").text());
        present_amount +=  getnum($(this).find("td:eq(2)").text());
        function getnum(t){
            if(isNumeric(t)){
                return parseInt(t,10);
            }
            return 0;
                function isNumeric(n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
                }
        }
        });
        var percent = parseFloat(100*(present_amount-invested_amount)/invested_amount).toFixed(2);
        if(invested_amount<present_amount){
            $("#up-arrow").css("display","inline-block");
            $('#table-current-amount').css('color','green');
            $('#present-amount').css('color','green');
        }else{
            $("#down-arrow").css("display","inline-block");
            $('#table-current-amount').css('color','red');
            $('#present-amount').css('color','red');
        }
        $("#invested-amount").text(invested_amount);
        $("#present-amount").text(present_amount);
        $("#percent").text(percent);
        
    } );
</script>
{% endblock body %}