{% extends 'base.html' %}
{% load static %}
{% block title %}
GD Capital
{% endblock title %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block body %}
<section class="header-sec py-5">
    <div class="container">
        <div class="alert alert-dark alert-dismissible fade show" role="alert">
            <div style="display:flex; justify-content:space-between;align-items: center;">
                <span>
                    <span style="font-size: 0.8rem;">Upcoming Event:</span> <a href="/events" style="color:#272727;font-weight:bold;font-size: 1rem;">{{mydata.title}}</a>
                </span>
                <span>
                <small class="me-3">
                    {{mydata.date|date:"d M, Y"}}
                </small>
            </span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        
        <div class="row py-3">
            <div class="col-md-6 col-lg-6 col-12 order-md-2 order-lg-2 order-1 py-4">
                <div class="text-center">
                    <img class="header-image" src="{% static 'images/header-image.svg' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12 order-md-1 order-lg-1 order-2 py-4" style="display:flex;justify-content:center;align-items: start; flex-direction:column;color: #ece6dc">
                <h1 class="heading-text">We're here to <span style="color: #df1515;text-shadow: 2px 2px rgb(45, 45, 45);">grow</span> your assets.</h1>
                <p class="mt-3">The money we manage is not our own. It belongs to many people – in many different locations – all trying to achieve their most important financial goals. We are here to help you, achieve those goals through market beating consistent returns.</p>
            </div>
        </div>
    </div>
  </section>
  <section class="header-sec py-5 dark-bg">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-6 col-lg-6 col-12 py-4">
                <div class="text-center">
                    <img  src="{% static 'images/about-img.svg' %}" style="height: 15rem;border-radius: 10px;width:80%; " alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12 order-md-2 py-4" style="text-align: justify;color: #ece6dc;display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;">
            <h2 class="heading-text" style="color: #ece6dc">About <span style="color:#df1515;">GD Capital</span>.</h2>
                <p class="mt-2">GD Capital was made to help common man achieve their financial freedom. We have a very low barrier of entry for our investment plans. <br> That's what make us unique.</p>
            <a href="/about" class="btn about-button" style="background-color: #464343;color: #fff;font-size: 0.8rem !important;box-shadow: none !important;">Know More</a>
            </div>

        </div>
    </div>
  </section>

  <section class="py-5 team-sec">
    <div class="container">
        <h2 class="heading-text" style="color: #ece6dc">Meet our <span style="color:#df1515;">Team</span>.</h2>
        <div class="row mt-5">
            <div class="owl-carousel owl-theme">
                <div>
                    <div class="card ">
                        <img class="card-image"  src="{% static 'images/sumit.jpeg' %}" alt="alternative">
                        <div class="card-body text-center p-0">
                            {% comment %} <small class=""><i>"The person with a leadership quality and in depth vision.</i></small> {% endcomment %}
                            <p class="mt-3" style="margin-bottom: 0;"><b>Sumit Gadhwal</b></p>
                            <p style="color: #df1515" class="m-0">Relationship Manager</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <img class="card-image"  src="{% static 'images/abhi.jpg' %}" alt="alternative">
                        <div class="card-body text-center p-0">
                            {% comment %} <small class=""><i>"The person with a leadership quality and in depth vision.</i></small> {% endcomment %}
                            <p class="mt-3" style="margin-bottom: 0;"><b>Abhishek Jangale</b></p>
                            <p style="color: #df1515" class="m-0">Senior Trader</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <img class="card-image"  src="{% static 'images/priyanshu.jpeg' %}" alt="alternative">
                        <div class="card-body text-center p-0">
                            {% comment %} <small class=""><i>"The person with a leadership quality and in depth vision.</i></small> {% endcomment %}
                            <p class="mt-3" style="margin-bottom: 0;"><b>Priyanshu Mittal</b></p>
                            <p style="color: #df1515" class="m-0">Junior Trader</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <img class="card-image"  src="{% static 'images/parmit.jpeg' %}" alt="alternative">
                        <div class="card-body text-center p-0">
                            {% comment %} <small class=""><i>"The person with a leadership quality and in depth vision.</i></small> {% endcomment %}
                            <p class="mt-3" style="margin-bottom: 0;"><b>Parmit Gadhwal</b></p>
                            <p style="color: #df1515" class="m-0">Assistant Trader</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <img class="card-image"  src="{% static 'images/ashish.jpeg' %}" alt="alternative">
                        <div class="card-body text-center p-0">
                            {% comment %} <small class=""><i>"The person with a leadership quality and in depth vision.</i></small> {% endcomment %}
                            <p class="mt-3" style="margin-bottom: 0;"><b>Ashish Rao</b></p>
                            <p style="color: #df1515" class="m-0">R&D</p>
                        </div>
                    </div>
                </div>
                
              </div>
        </div>
    </div>
  </section>

  
  
  <section class="reviews-sec py-5 dark-bg" >
    <div class="container">
        <h2 class="heading-text" style="color: #ece6dc">Revi<span style="color:#df1515;">ews</span>.</h2>
        <div class="container">
            
            <div class="owl-carousel owl-theme mt-4">
                {% for i in data %}
                    {% if i.display == 'yes' %}
                    <div>
                        <div class="my-2 p-4 mx-1 h-100" style="background-color: #fff;text-align: justify;border-radius:20px;width:100%">
                            <i class="bi bi-quote text-muted" style="font-size: 1.5rem;"></i> {{i.review}}
                            <div class="text-end text-muted mt-2">
                                <small>~ {{i.name}}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                
            </div>

            <div class="text-center">
                <a style="font-size:0.7rem" href="/feedback">Leave a feedback</a>
            </div>
        </div>
        
    </div>
  </section>
  <section class="contact-sec" style="background:linear-gradient(0deg, rgba(41, 41, 41, 0.7), rgba(41, 41, 41, 0.7)), url('{% static 'images/contect.gif' %}');">
    <div class="container text-center">
        <a href="/contact" class="home-contact">
            <h2 class="heading-text m-0 p-0" style="color: #ece6dc">Click here to <span style="color:#df1515;" class="contact-span">contact</span> us.</h2>
        </a>
    </div>
  </section>


  
{% endblock body %}